#about-header {
  width: 100vw;
  text-align: center;
  margin-left: 10rem;
  color: white;
  font-size: 4rem;
}
#about-header2 {
  width: 100vw;
  text-align: center;
  margin-left: 10rem;
  color: rgb(255, 0, 0);
  font-size: 4rem;
}