@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

#about {

  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  letter-spacing: 1px;
  width: 100vw;
  height: 100vh;
  font-weight: 200;
  // font-family:'Montserrat';
  margin-top: 5rem;
  padding-top: 0;
  background-color:rgb(255, 255, 255);
  color:#000 !important;
  
  
  // &::before {
  //   content: ""; // ::before and ::after both require content
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url('../images/code.jpg');
  //   opacity: 0.05;
  //   background-repeat: no-repeat;
  //   background-size: cover;

  // }
}

#about .paragh{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

// #avatar {


// }

#avatar img{
  height: 26rem;
  width: 22rem;
  display: inline-block;

}

#about p{
  width: 45rem;
  font-family: 'Poppin'
}

#about .first-letter {
  font-size: 3rem;
  line-height: 70px;
  font-family: 'Poppin';
  margin-bottom: 0;
  padding: 0;
}

#about h1 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 4rem;
  padding-left: 23rem;
}

#scrolldown{
  position: absolute;
  left: 50vw;
  top: -6.5rem;
 
 }


