#animate-text {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  width: 100vw;
 }
 
 .squeezespring-wrapper-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
 }
  
 .animated-div-trails {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: .5rem;
  // font-weight: 900;
  // font-size: 4rem;
  // letter-spacing: 1.5rem;
  // font-family: 'Montserrat';
  // color: rgb(0, 0, 0) !important;
  // display: flex;

  position: relative;
  top: 0rem;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px #ced0d3;
  color: rgb(255, 255, 255);
  letter-spacing: 2rem;
  font-family: 'Anton', Arial, sans-serif;
  // font-family: 'Montserrat';
  
  user-select: none;
  text-transform: uppercase;
  font-size: 6rem;
  transition: all 0.25s ease-out;
  margin: 0;
  padding: 0;
}

 