@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  // background-color: #1c1c26
}

#main .name-wrapper{
  color: #ffffff;
  font-size: 4rem;
  font-weight: 600 !important;
  padding-top: 10rem;
  letter-spacing: .4rem;
  font-family: 'Montserrat';
  // font-family: 'Monoton';
  width: 100vw;
  text-align: center;

  // position: relative;
  // text-transform: uppercase;
  // text-shadow: -1px 1px 10px #444;
  // color: white;
  // letter-spacing: -0.05em;
  // font-family: 'Anton', Arial, sans-serif;
  // user-select: none;
  // text-transform: uppercase;
  // font-size: 150px;
  // transition: all 0.25s ease-out;
  // color: #000
}



#main .name-wrapper p {
  display: flex;
  justify-content: center;
}

// #main .lname {
// letter-spacing: 3rem;
// }
// #main .fname {
//   letter-spacing: 2rem;
//   }

#main .developer {
  margin-top: 2rem;
  font-size: 1.5rem;
  color:#ffffffe1;
  letter-spacing: 4px;
  font-family:'Montserrat';
  font-weight: bolder;
  padding-bottom: 0;
  width: 100vw;
  text-align: center;
}

#main .soft {
margin-right: 1.5rem;
}

#main .icongram {
    width: 100vw !important;
    text-align: center;
    margin-top: 5rem;
}

#main .icongram span {
    margin-left: 2rem ;
    cursor: pointer !important;
}

