@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
  background-color: #1a1c1fef;
  display: flex !important;

}

#main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  padding-top: 3rem;
  height: 50vh;
  width: 100vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.452);

}

#main-wrapper .link-wrapper ul {
  display: flex;
}

#main-wrapper .link-wrapper li, #main-wrapper .link-wrapper a {
  list-style-type: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  margin-top: 4rem;
  letter-spacing: 2.5px;
  color: #fcfcfcab;
  cursor: pointer;
  text-decoration: none;
  font-weight: 300;
}

#main-wrapper .name-wrapper{
  display: flex;
  color: #fcfcfcab;
  font-size: 5rem;
  font-weight: 600;
  font-style: italic;
  padding: 0;
  margin: 0;
  letter-spacing: .5rem;
  line-height: 3rem;
  font-family: 'Poppins', sans-serif;
}

#main-wrapper .name-wrapper .lastname {
  margin-left: 1.5rem;
  
}

#main-wrapper .dev {
  margin-top: 1rem;
  font-size: 1.3rem;
  color:#fcfcfce1;
  letter-spacing: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-bottom: 0;
}

#main-wrapper .icongram span {
    margin-left: 1.5rem ;
    cursor: pointer;
}
#main-wrapper .icongram {
  height: 0.1vh;
  margin-left: 1rem ;
}

.resume-pdf{
 padding: 0px;
}

