@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');


body {
  background-color: #1a1c1fef;
  display: flex !important;

}

#main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  padding-top: 3rem;
  height: 50vh;
  width: 100vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.452);

}

#main-wrapper .link-wrapper ul {
  display: flex;
}

#main-wrapper .link-wrapper li, #main-wrapper .link-wrapper a {
  list-style-type: none;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 1rem;
  margin-top: 1rem;
  letter-spacing: 3px;
  font-family: 'Montserrat';
  color: #fcfcfcab;
  cursor: pointer;
  text-decoration: none;
  // border: 1px solid rgb(53, 53, 53);
  // border-radius: 5px;

  // background-color: rgb(44, 39, 39);
  // box-shadow:  0  0 3px 1px rgb(255, 255, 255);
}

#main-wrapper .name-wrapper{
  color: #fcfcfcab;
  font-size: 5.5rem;
  padding: 0;
  margin: 0;
  line-height: 3rem;
  font-family: 'Montserrat';
}

#main-wrapper .name-wrapper .lastname {
  padding-left: 2.5rem;
}

#main-wrapper .dev {
  margin-top: 1rem;
  font-size: 1rem;
  color:#754444;
  letter-spacing: 5px;
  font-family: 'Montserrat';
  font-weight: 900;
  padding-bottom: 0;
}

#main-wrapper .icongram span {
    margin-left: 1.5rem ;
    cursor: pointer;
}
#main-wrapper .icongram {
  height: 0.1vh;
  margin-left: 1rem ;
}

.resume-pdf{
 padding: 0px;
}
