#open-store {
  // box-shadow: 0px 5px 10px -1px rgb(15,15, 15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem;
}

#open-store .open-store-header {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Montserrat';
  letter-spacing: 3px;
}


#open-store .open-store-body {
  font-family: 'Montserrat';
  letter-spacing: 1px;
  color: #e4e2e2;
  font-size: 1.2rem;
}

#open-store .open-store-body .live {
  margin-right: 3rem;
} 

/******************************************************** UNDER 1178 ***************************************/
@media all and (max-width: 1178px) {
  
  #open-store .open-store-header {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  
  
  #open-store .open-store-body {
    font-size: 0.9rem;
  }

  #open-store .open-store-body .live {
      margin-right: 3rem;
  } 








}