#oui-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem;
}


#oui-chat .oui-chat-header {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Montserrat';
  letter-spacing: 3px;
}

#oui-chat .oui-chat-body {
  font-family: 'Montserrat';
  letter-spacing: 1px;
  color: #e4e2e2;
  font-size: 1.2rem;
}


/******************************************************** UNDER 1178 ***************************************/
@media all and (max-width: 1178px) {

  #oui-chat .oui-chat-header {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  #oui-chat .oui-chat-body {
    font-size: 0.9rem;
  }
  #oui-chat .oui-chat-body .live{

    margin-right: 3rem;
  }

}
