#place-finder {
  box-shadow: 5px 5px 10px 1px rgb(15, 15, 15);
  padding: 2rem 0;
}


#place-finder .place-finder-header {
  margin-top: 7rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Montserrat';
  letter-spacing: 2px;
}

#place-finder .place-finder-header span {
 margin-right: 1rem;
}


#place-finder .place-finder-body {
  font-family: 'Montserrat';
  letter-spacing: 1px;
  width: 35rem;
  margin-left: 3rem;
  color: #e4e2e2;
  font-size: 1.1rem;
}