
/*********************** Progress Bar *************************/
#progress-bar  {
  position: absolute;
  left: 50vw;
  top: -3rem;
}
#progress-bar .zero {
  padding-bottom: 15rem;

  }
#progress-bar  .one {
padding-bottom: 27rem;
}
#progress-bar  .two {
padding-bottom: 30rem;
}
#progress-bar  .three {
padding-bottom: 30rem;
}
#progress-bar  .four {
padding-bottom: 30rem;
}
#progress-bar  .five {
  padding-bottom: 30rem;
  }