#projects {
  width: 100vw !important;
  height: 135rem;
  // background-color: red !important;
  position: relative;
  top: -2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: rgb(0, 0, 0);
}

#projects .header-span{

 
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100vw;
  background-color: #000;
  border-bottom: 1px solid red;
  color: #fff;
  height: 4rem;
  z-index: 100;
  top:2rem;
  font-size: 3rem;
  font-family: 'Montserrat';
  letter-spacing: 3px;
}

#projects .body {
// background-color: blue !important;
height: 100rem;
position: absolute;
top: 0;
}

/* ********************************************** Open Store ************************************** */
#os-wrapper-div {
  // background-color: red !important;

  box-shadow: 0px 0px 20px 2px rgb(15, 15, 15);
  width:100vw;
  height: 25rem;
  margin-top: 3rem;

  display: flex;
  align-items: center;
  flex-direction: row;

  .os-text {
    height: 25rem;
    width: 44rem;
    background-color: black;
  }

  .os-number {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgba(255, 6, 6, 0.438);
    color: rgb(252, 252, 252);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0px 0px 20px 2px rgb(22, 22, 22);

  }

  .os-img {
    height: 25rem;
    width: 44rem;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0px 0px 20px 2px rgb(22, 22, 22);
  }
}

.os-img img {
  height: 380px;
  width: 540px;
  border-radius: 10px;
  border: 1px solid rgb(45, 45, 45);
  cursor : pointer;
}




/*********************************************** OUI CHAT ***************************************/

#ou-wrapper-div {
  // background-color: red !important;

  // box-shadow: 0px 0px 20px 2px rgb(194, 29, 29);
  box-shadow: 0px 0px 20px 2px rgb(15, 15, 15);
  width:100vw;
  height: 25rem;
  margin-top: 7rem;


  // background-color: red !important;

  display: flex;
  align-items: center;
  flex-direction: row;

  .ou-text {
    height: 25rem;
    width: 44rem;
    background-color: black;
  }

  .ou-number {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgba(255, 6, 6, 0.438);
    color: rgb(252, 252, 252);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

  }

  .ou-img {
    height: 25rem;
    width: 44rem;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ou-img img {
  height: 380px;
  width: 540px;
  border-radius: 10px;
  border: 1px solid rgb(45, 45, 45);
  cursor : pointer;
}



/* ********************************************** PLACE FINDER ************************************** */
#pf-wrapper-div {
  // background-color: red !important;

  box-shadow: 0px 0px 20px 2px rgb(15, 15, 15);
  width:100vw;
  height: 25rem;
  margin-top: 7rem;

  display: flex;
  align-items: center;
  flex-direction: row;

  .pf-text {
    height: 25rem;
    width: 44rem;
    background-color: black;
  }

  .pf-number {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgba(255, 6, 6, 0.438);
    color: rgb(252, 252, 252);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0px 0px 20px 2px rgb(22, 22, 22);

  }

  .pf-img {
    height: 25rem;
    width: 44rem;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0px 0px 20px 2px rgb(22, 22, 22);
  }
}

.pf-img img {
  height: 380px;
  width: 540px;
  border-radius: 10px;
  border: 1px solid rgb(45, 45, 45);
  cursor : pointer;
}



/* ********************************************** Tic Tac Toe ************************************** */
#ttt-wrapper-div {
  // background-color: red !important;

  box-shadow: 0px 0px 20px 2px rgb(15, 15, 15);
  width:100vw;
  height: 25rem;
  margin-top: 7rem;

  display: flex;
  align-items: center;
  flex-direction: row;

  .ttt-text {
    height: 25rem;
    width: 44rem;
    background-color: black;
  }

  .ttt-number {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgba(255, 6, 6, 0.438);
    color: rgb(252, 252, 252);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0px 0px 20px 2px rgb(22, 22, 22);

  }

  .ttt-img {
    height: 25rem;
    width: 44rem;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0px 0px 20px 2px rgb(22, 22, 22);
  }
}

.ttt-img img {
  height: 380px;
  width: 540px;
  border-radius: 10px;
  border: 1px solid rgb(45, 45, 45);
  cursor : pointer;
}




/******************************************************** UNDER 1178 ***************************************/
@media all and (max-width: 1178px) {

  #projects {
    height: 300rem !important;
  }



/* ******************** Open Store ****************** */
#os-wrapper-div {
  // background-color: red !important;
  box-shadow: 0px 0px 20px 2px rgb(50, 3, 3);
  // box-shadow: 0px 0px 20px 2px rgb(15, 15, 15);
  width:100vw;
  height: 45rem;
  margin-top: 3rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  .os-text {
    height: 25rem;
    max-width: 25rem;
  }

  .os-number {
    display: none !important;
  }

  .os-img {
    height: 25rem;
    width: 25rem;
  }
}

.os-img img {
  height: 280px;
  width: 340px;
}




/************************ OUI CHAT *********************/

#ou-wrapper-div {

  box-shadow: 0px 0px 20px 2px rgb(50, 3, 3);
  width:100vw;
  height: 45rem;
  margin-top: 2rem;


  display: flex;
  align-items: center;
  flex-direction: column;

  .ou-text {
    height: 25rem;
    width: 25rem;
    position: relative;
    top: -20rem;
  }

  .ou-number {
    display: none;
  }

  .ou-img {
    height: 25rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25rem;
  }
}

.ou-img img {
  height: 280px;
  width: 340px;
  border-radius: 10px;
  border: 1px solid rgb(45, 45, 45);
  cursor : pointer;
}





/* **************** Place Finder *********************** */

#pf-wrapper-div {
  box-shadow: 0px 0px 20px 2px rgb(50, 3, 3);
  width:100vw;
  height: 45rem;
  margin-top: 2rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  .pf-text {
    height: 25rem;
    width: 25rem;
    background-color: black;
  }

  .pf-number {
    display: none;
  }

  .pf-img {
    height: 25rem;
    width: 25rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pf-img img {
  height: 280px;
  width: 340px;
  border-radius: 10px;
  border: 1px solid rgb(45, 45, 45);
  cursor : pointer;
}




/* ************************** Tic Tac Toe *********************** */
#ttt-wrapper-div {
  // background-color: red !important;

  box-shadow: 0px 0px 20px 2px rgb(50, 3, 3);
  width:100vw;
  height: 45rem;
  margin-top: 2rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  .ttt-text {
    height: 25rem;
    width: 25rem;
    background-color: black;

    position: relative;
    top: -20rem;
  }

  .ttt-number {
  display: none;
  }

  .ttt-img {
    display: none;
    height: 25rem;
    width: 44rem;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0px 0px 20px 2px rgb(22, 22, 22);
  }
}

.ttt-img img {
  display: none;
  height: 380px;
  width: 540px;
  border-radius: 10px;
  border: 1px solid rgb(45, 45, 45);
  cursor : pointer;
}




}