#skills {
  height: 100vh;
  padding-top: 1.5rem;
  width: 100vw;
  background-color: '#fff';
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#skills .header {
  padding-top: 0.5rem;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 5px;
  font-family: 'Montserrat';
  color: rgb(0, 0, 0) !important;
  display: flex;
 
}

#skills .body {
  margin-top: 1rem;
  width: 80vw;
  height: 100vh;
  padding-left: 2rem;

}

#skills .body img {
  margin: 1rem;
  border-radius: 1rem;
  display: inline-block;

}

/******************************************************** UNDER 1178 ***************************************/
@media all and (max-width: 1178px) {
  #skills {
    position: relative;
    margin-top: 0rem;
  }


}

