#tictactoe {
  padding: 1rem;
}


#tictactoe  .tictactoe-header {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Montserrat';
  letter-spacing: 2px;
}

#tictactoe  .tictactoe-body {
  font-family: 'Montserrat';
  letter-spacing: 1px;
  max-width: 35rem;
  color: #e4e2e2;
  font-size: 1.2rem;
}


/******************************************************** UNDER 1178 ***************************************/
@media all and (max-width: 1178px) {

  #tictactoe {
    padding: 0rem;
    margin-top: 0rem;
  }

  #tictactoe  .tictactoe-header{
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  #tictactoe  .tictactoe-body {
    font-size: 0.9rem;
  }
  #tictactoe  .tictactoe-body  .live{
    margin-right: 3rem;
  }

}