#tictactoe {
  box-shadow: 5px 5px 10px 1px rgb(15, 15, 15);
  padding: 2rem 0;
}


#tictactoe  .tictactoe-header {
  margin-top: 9rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Montserrat';
  letter-spacing: 2px;
}

#tictactoe  .tictactoe-header span {
 margin-right: 1rem;
}


#tictactoe  .tictactoe-body {
  margin-right: 1rem;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  width: 35rem;
  margin-left: 2rem;
  color: #e4e2e2;
  font-size: 1.1rem;
}